<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>Acko Kubernetes Dashboard</center></h1>
    <table>
        <tr>
            <th>Pod Name</th>
            <th>Status</th>
        </tr>
        {% for pod in pods %}
        <tr>
            <th>{{ pod.name }}</th>
            <th>{{ pod.status }}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>